* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

input {
  padding: 10px;
  text-align: center;
  margin-top: 100px;
  background-color: aliceblue;
  border-radius: 8px;
  border: 2px solid rgb(151, 53, 151);
}

h1 {
  color: rgb(161, 75, 161);
  font-family: sans-serif;
  margin-top: 10%;
}
p {
  color: azure;
  position: absolute;
  top: 1px;
  left: 47%;
  font-family: sans-serif;
}
